# =========================
# 📁 STORAGE
# =========================
UPLOADS_FOLDER=./uploads

# =========================
# 🔐 LDAP
# =========================
LDAP_URL=ldap://localhost:3890
LDAP_ADMIN_DN=uid=admin,ou=people,dc=example,dc=com
LDAP_ADMIN_PASS=senha123

LDAP_RDN_IDENTIFIER=email
LDAP_SEARCH_BASE_DN=ou=people,dc=example,dc=com

# --- Atributos LDAP
LDAP_CN_ATTRIBUTE=cn
LDAP_CN_FILTER=(member=uid={0},ou=people,dc=example,dc=com)
LDAP_CN_BASE_DN=ou=groups,dc=example,dc=com

LDAP_DISPLAYNAME_ATTRIBUTE=displayName
LDAP_DISPLAYNAME_FILTER=(uid={0})
LDAP_DISPLAYNAME_BASE_DN=ou=people,dc=example,dc=com

LDAP_EMAIL_ATTRIBUTE=email
LDAP_EMAIL_FILTER=(uid={0})
LDAP_EMAIL_BASE_DN=ou=people,dc=example,dc=com

# =========================
# 🗄️ DATABASE (Postgres)
# =========================
DB_PROVIDER=postgresql
DB_USER=usuario-pg
DB_PASSWORD=senhapg
DB_CONNECTION_URL=jdbc:postgresql://localhost:5432/atividades
DB_POOLSIZE=10
